# Renomeie este arquivo para .env e preencha os valores
# NUNCA suba o .env para o GitHub!

DISCORD_TOKEN=seu_token_aqui
ADMIN_ID=279638596195975178
SHEETS_URL=https://script.google.com/macros/s/AKfycbzzSOBl_xQA1-GAJpAynHocKdcciv3o6wGZiO3Gct7EcmMLaYNsv7HFqoZHDfiF6FoktQ/exec
